/**
 * Developed by Anthony Cox in 2025
 */
/* .background-transparent {
  background-color: transparent;
} */

.background-green {
  background-color: #1F862F;
}

.background-grey {
  background-color: #F6F6F6;
}

.background-grey-2 {
  background-color: #757575;
}

.background-red {
  background-color: #EC0000;
}

.background-white {
  background-color: #FFFFFF;
}

.body-default {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* .hidden {
  display: none;
}*/

.screen-width-content-inner {
  max-width: 1248px;
  min-width: 312px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.screen-width-content-outer {
  max-width: 1920px;
  min-width: 344px;
  width: inherit;
}

.screen-width-root {
  width: 100%;
}
