/**
 * Developed by Anthony Cox in 2025
 */
.scroll-menu-items-button {
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  margin: 0px;
  max-height: 50px;
  max-width: 50px;
  min-height: 50px;
  min-width: 50px;
  outline: none;
  padding: 0px;
  user-select: none;
  width: 50px;
}

/*.scroll-menu-items-button-border-gold {
  border-color: #FFBF00;
}

.scroll-menu-items-button-border-green {
  border-color: #006622;
}

.scroll-menu-items-button-border-green-2 {
  border-color: #E1EDB3;
}

.scroll-menu-items-button-border-grey {
  border-color: #F6F6F6;
}

.scroll-menu-items-button-border-grey-2 {
  border-color: #4D4D4D;
}

.scroll-menu-items-button-border-navy {
  border-color: #000066;
}

.scroll-menu-items-button-border-red {
  border-color: #800000;
}

.scroll-menu-items-button-border-white {
  border-color: #FFFFFF;
}

.scroll-menu-items-button-span {
  display: 'block';
  text-align: 'center';
}

.scroll-menu-items-button-text {
  display: inline-block;
  outline: none;
  padding-top: 5px;
  user-select: none;
  vertical-align: -8px;
} */

.scroll-menu-items-container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  min-width: 50px;
  padding-bottom: 2px;
  padding-top: 3px;
  width: 50px;
}

.scroll-menu-items-container-left {
  padding-right: 4px;
}

.scroll-menu-items-container-right {
  padding-left: 4px;
}
