/**
 * Developed by Anthony Cox in 2025
 */
.menu-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 1248px;
  min-width: 312px;
  width: 100%;
}

.menu-items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1140px;
  min-width: 204px;
  opacity: 0;
  width: 100%;
}

.menu-items-container-animations {
  transition-duration: 0.25s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.menu-items-unordered-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: inherit;
}
