/**
 * Developed by Anthony Cox in 2025
 */
.dropdown-menu-bar-button {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
  cursor: default;
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: center;
  line-height: 1.4;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  max-height: 55px;
  max-width: 100px;
  min-width: 100px;
  opacity: 0;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  text-decoration: none;
  user-select: none;
  width: 90px;
}

.dropdown-menu-bar-button-arrow {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  margin-top: -1px;
  min-width: 10px;
  padding-left: 5px;
  width: 10px;
}

.dropdown-menu-bar-button-title {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  min-width: 75px;
  width: 75px;
}
