/**
 * Developed by Anthony Cox in 2025
 */
.subtitle-text-alignment-centre {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subtitle-text-alignment-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.subtitle-text-container {
  height: auto;
  width: auto;
}

.subtitle-text-container-upper-spacing {
  padding-top: 8px;
}

.subtitle-text-font-default {
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.01rem;
  margin: 0px;
  user-select: none;
  width: fit-content;
  white-space: nowrap;
}
