/**
 * Developed by Anthony Cox in 2025
 */
.page-title-text {
  cursor: default;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  height: auto;
  line-height: 1.2;
  margin: 0px;
  max-width: 1248px;
  min-width: 328px;
  padding-bottom: 32px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 16px;
  user-select: none;
  width: 100%;
}

.page-title-text-alignment-left {
  justify-content: flex-start;
}

.page-title-text-alignment-centre {
  justify-content: center;
  text-align: center;
}

.page-title-text-underline {
  text-decoration: underline;
}
