/**
 * Developed by Anthony Cox in 2025
 */
.footer-inner {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.footer-outer {
  display: flex;
  flex-direction: row;
  height: inherit;
  justify-content: center;
}

.footer-root {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  min-height: 55px;
 }