/**
 * Developed by Anthony Cox in 2024
 */
.ajc-header-border-black {
  border-top: 8px solid #000000;
}

.ajc-header-border-grey {
  border-top: 8px solid #757575;
}

.ajc-header-border-red {
  border-top: 8px solid #AE1E01;
}

.ajc-header-content {
  display: flex;
  height: inherit;
  width: 100%;
}

.ajc-header-content-alignment-center {
  flex-direction: row;
  justify-content: center;
}

.ajc-header-content-alignment-left {
  flex-direction: row;
  justify-content: flex-start;
}

.ajc-header-content-alignment-right {
  flex-direction: row;
  justify-content: flex-end;
}

.ajc-header-root {
  display: flex;
  justify-content: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
  width: inherit;
}

.ajc-header-root-no-border {
  height: 144px;
}

.ajc-header-root-with-border {
  height: 136px;
}
