/**
 * Developed by Anthony Cox in 2025
 */
 .footer {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  min-height: 71px;
 }

.footer-content-inner {
  display: flex;
  flex-direction: row;
  height: inherit;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.footer-content-outer {
  display: flex;
  flex-direction: row;
  height: inherit;
  justify-content: center;
}