/**
 * Developed by Anthony Cox in 2025
 */
.header {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header-border-top-gold {
  border-top: 4px solid #FFBF00;
}

.header-border-top-green {
  border-top: 4px solid #006622;
}

.header-border-top-green-2 {
  border-top: 4px solid #E1EDB3;
}

.header-border-top-grey {
  border-top: 4px solid #4D4D4D;
}

.header-border-top-navy {
  border-top: 4px solid #000066;
}

.header-border-top-red {
  border-top: 4px solid #B30000;
}

.header-content-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header-content-outer {
  display: flex;
  justify-content: center;
  height: 100%;
}

.header-small-height-no-border {
  height: 144px;
}

.header-small-height-with-border {
  height: 140px;
}

.header-tall-height-no-border {
  height: 304px;
}

.header-tall-height-with-border {
  height: 300px;
}
