/**
 * Developed by Anthony Cox in 2024
 */
.menu-bar-container {
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: center;
  width: 100%;
}

.menu-bar-content-container {
  display: flex;
  flex-direction: row;
  height: inherit;
  justify-content: center;
  max-width: 1920px;
  min-width: 360px;
  width: inherit;
}
