/**
 * Developed by Anthony Cox in 2025
 */
.menu-item-link {
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: center;
  line-height: 1.5;
  margin: 0px;
  max-height: 48px;
  max-width: 90px;
  min-height: 48px;
  min-width: 90px;
  opacity: 0;
  outline: none;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  width: 90px;
}

.menu-item-link-border-gold {
  border-color: #FFBF00;
}

.menu-item-link-border-green {
  border-color: #006622;
}

.menu-item-link-border-green-2 {
  border-color: #E1EDB3;
}

.menu-item-link-border-grey {
  border-color: #F6F6F6;
}

.menu-item-link-border-grey-2 {
  border-color: #4D4D4D;
}

.menu-item-link-border-navy {
  border-color: #000066;
}

.menu-item-link-border-red {
  border-color: #800000;
}

.menu-item-link-border-white {
  border-color: #FFFFFF;
}

.menu-item-link-container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  min-width: 50px;
  padding-bottom: 2px;
  padding-top: 3px;
  width: 100px;
}

.menu-item-link-container-right-side-spacing-off {
  margin-right: 0px;
}

.menu-item-link-container-right-side-spacing-on {
  margin-right: 4px;
}
