/**
 * Developed by Anthony Cox in 2024
 */
.header-border-top-grey {
  border-top: 4px solid #757575;
}

.header-border-top-red {
  border-top: 4px solid #EC0000;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  width: inherit;
}

.header-content-title-subtitle-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
